@import "./import/variable.scss";
@import "./import/normalize.scss";

body {
  line-height: $space;
}

* {
  box-sizing: inherit;
}

@mixin color($color) {
  background-image: linear-gradient(to bottom, $color, $color);
  background-color: $color;
  @if $color == $light {
    color: $dark;
  } @else {
    color: $white;
  }
  border:none;
}


$colors: (
  prime: $prime,
  warn: $warn,
  danger: $danger,
  ok: $ok,
  dark: $dark,
  light: $light
);

@each $type, $value in $colors {
  *.#{$type} {
    @include color($value);
  }
}